@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto', sans-serif;
    background-color: rgb(239, 239, 239);
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

h1 {
    font-size: 70px;
}

/* ================================================= */
/* Menu */
/* ================================================= */

.header {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 80px;
    background-color: rgb(195, 195, 195);
    width: 100%;
}

.cont0-logo {
    width: 0%;
    margin-top: 25px;
    margin-left: 25px;
    justify-content: space-around;
}

.menu-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-right: -50px;
}

.menu-links li {
    list-style: none;
    margin-top: 25px;
}

.menu-links a { 
    color: rgb(65, 65, 65);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

a:hover {
    color: rgb(205, 205, 205);
    transition: 0.6s ease-in-out;
}

a:hover img {
    opacity: 0.6;
    transition: opacity 0.4s ease-in-out;
}

/* ================================================= */
/* Index */
/* ================================================= */

.flex-cont1 {
    display: flex;
    width: 900px;
    margin-left: 15%;
    flex-direction: column;
    margin-top: 10%;
}

.flex-cont1a {
    display: flex;
    width: 40%;
}

.flex-cont1a-text {
    display: flex;
    color:rgb(49, 49, 49);
}

.flex-cont1b {
    display: flex;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.flex-cont1b-text {
    display: flex;
    color:rgb(42, 42, 42);
}

.flex-cont1c {
    display: flex;
    width: 100%;
    padding-bottom: 3%;
    inline-size: 700px;
}

.flex-cont1c-text {
    display: flex;
    color:rgb(42, 42, 42);
}    

.flex-cont2 {
    display: flex;
    width: 900px;
    margin-left: 15%;
    margin-right: 100%;
}

.flex-cont2-text {
    display: flex;
    color:rgb(42, 42, 42);
    width: 400px;
}

/* ================================================= */
/* About */
/* ================================================= */

.flex-about {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.flex-cont3 {
    display: flex;
    width: 100%;
    margin-left: 15%;
    flex-direction: row;
    margin-top: 10%;
    flex: 50%;
}

.flex-cont3a {
    display: flex;
    flex-direction: column;
}

.flex-cont3a-text {
    display: flex;
    color:rgb(49, 49, 49);
}
 
.flex-cont3b-text {
    display: flex;
    color:rgb(49, 49, 49);
    margin-top: 20px;
    width: 100%;
}

.flex-cont4 {
    display: flex;
    width: 200%;
    margin-left: 0;
    flex-direction: row;
    margin-top: 10%;
    flex: 50%;
}

.flex-cont4a {
    display: flex;
}

.flex-cont4a-img {
    display: flex;
    margin: 10%;
    border-radius: 200px 200px 200px 200px;
}

.flex-cont5 {
    align-self: center;
    margin-left: 15%;
}

.carousel-container {
    width: 80%;
    display: flex;
    margin-left: 10%;
}

.carousel-images {
    flex-direction: column;
}

.carousel-images img {
    display: none;
    width: 80%;
    border-radius: 50px;
}

.carousel-button {
    align-self: center;
    color: rgb(42, 42, 42);
    font-size: 15pt;
    margin-right: 15%;
}

.carousel-button:hover {
    cursor: pointer;
}

.carousel-images img:first-of-type {
    display: block;
}

/* ================================================= */
/* Projects */
/* ================================================= */

.flex-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 10%;
}

.flex-cont6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5%;
    margin-left: -10%;
}

.project1, .project2 {
    display: flex;
    padding: 5px;
    text-align: center;
}

#modal1, #modal2 {
	background-color: rgba(154, 154, 154, 0.573);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal1Content, #modal2Content {
	background-color: rgb(240, 240, 240);
	height: 300px;
	width: 500px;
	margin: 150px auto;
	padding: 2%;
	line-height: 120%;
}

.modal1Button, .modal2Button {
	border: none;
	outline: none;
	border-radius: 3px;
	color: rgb(105, 105, 105);
	cursor: pointer;
}



/* ================================================= */
/* Resume */
/* ================================================= */

.flex-resume {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10%;
}

.flex-cont7 {
    display: flex;
    width: 100%;
    margin-left: 15%;
    flex-direction: column;
    flex: 50%;
}

.flex-cont7a {
    display: flex;
    flex-direction: column;
    width: 85%;
}

/* ================================================= */
/* Footer */
/* ================================================= */

.flex-footer-cont {
    display: flex;
    background-color: rgb(195, 195, 195);
    flex-direction: row;
    text-align: center;
    height: 90px;
    margin-top: 20%;
    padding: 20px;
    justify-content: space-between;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
}

img {
    width: 50%;
    padding: 2%;
}


/* ================================================= */
/* Mobile */
/* ================================================= */

@media screen and (max-width: 700px) {
    .menu-links {
        width: 60%;
    }

    .flex-cont1a {
        display: flex;
        width: 100;
    }

    .flex-footer-cont {
        width: 100%;    
    }

    .flex-footer {
        margin-left: -5%;
        margin-right: -5%;
    }

    img {
        width: 75%;
        margin: 10% 10%;
        padding: 7%;
    }

    .flex-cont1c {
        display: flex;
        width: 100%;
        padding-bottom: 3%;
        inline-size: 500px;
    }

    #modalContent {
        height: 250px;
        width: 400px;
    }

    .flex-cont5 {
        margin-left: 2%;
    }

    .carousel-button {
        margin-right: 0%;
    }
}

